/*background-color: #ff545d;*/
/*background-color: #93000e;*/
/*background-color: #c13;*/

@font-face {
  font-family: "GlacialIndifferenceRegular";
  src: url('GlacialIndifference-Regular.otf');
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  font-size: 23px;
  letter-spacing: 0.02rem;

  font-family: "GlacialIndifferenceRegular";
}

.menu {
  background-color: #c13;
  text-transform: uppercase;

  width: 100vw;
  height: 3rem;

  position: fixed;
  top: 0;

  font-size: 1em;

  display: flex;
  align-content: center;
  justify-content: space-around;
}

.menu-content {
  width: 100%;
  max-width: 35rem;

  margin: 0 1em;
  box-sizing: content-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  text-decoration: none;
  color: white;
}

.section {
  max-width: 37rem;
  margin: 0 auto 0 auto;
}

.section-content {
  padding: 2em 1em;

  /* color: #c13; */
  font-size: 0.8rem;
  line-height: 1.5em;
}

.section-content-title {
  color: #c13;

  font-size: 1.2rem;
  font-weight: normal;

  margin: 0.5em 0;
}

@media all and (min-width: 600px) {
  .section-content-title {
    font-size: 1.2rem;

    margin: 1em 0;
  }
}

.landing {
  padding: 3em 0 0 0;
}

.landing-content {
  padding: 1.5em 0.5em 0.5em 0.5em;

  font-size: 1.2rem;
}

@media all and (min-width: 600px) {
  .landing-content {
    padding: 3em 1em 2em 1em;
  }
}

.skills-content {
  padding: 0.75em;

  font-size: 0.8rem;
}

@media all and (min-width: 600px) {
  .skills-content {
    padding: 0.5em 1em;

    font-size: 1rem;
  }
}

.skills-content-entry {
  margin: 1em 0;
  width: 100%;
}

.skills-content-entry:nth-of-type(2n) {
  text-align: right;
}

.skills-content-entry-rect {
  background-color: #ff545d;
  height: 1em;
  width: 1em;

  margin-top: 0.2em;
}

.skills-content-entry:nth-of-type(2n+1)>.skills-content-entry-rect {
  float: left;
  margin-right: 0.5em;
}

.skills-content-entry:nth-of-type(2n)>.skills-content-entry-rect {
  float: right;
  margin-left: 0.5em;
}

.skills-content-entry:nth-of-type(2n+1)>.skills-content-entry-text {
  padding-left: 1.5em;
}

.skills-content-entry:nth-of-type(2n)>.skills-content-entry-text {
  padding-right: 1.5em;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (min-width: 600px) {
  .contact {
    flex-direction: row;
  }
}

.contact-content {
  padding: 0.5em 0.75em 1.5em 0.75em;
}

@media all and (min-width: 600px) {
  .contact-content {
    padding: 0.5em 1em 3em 1em;

    width: 50%;
  }
}

.contact-content a {
  color: #c13;
  text-decoration: none;
  border-bottom: 0.1em #c13 solid;
  cursor: pointer;
}

.implementation-content {
  padding: 0.5em 0.75em 1.5em 0.75em;
}

@media all and (min-width: 600px) {
  .implementation-content {
    padding: 0.5em 1em;

    width: 50%;
  }
}

.implementation-content a {
  color: #c13;
  text-decoration: none;
  border-bottom: 0.1em #c13 solid;
  cursor: pointer;
}

/* .tech-content {
  display: flex;
  flex-direction: column;

  color: #93000e;
}

.tech-content-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 1.2em;
  margin: 0.2em 0;
}

.tech-content-entry-name {
  font-size: 0.8em;
}

.tech-content-entry-exp {
  background-color: #ff545d;
  text-align: right;
}

.tech-content-entry-exp > span {
  margin-right: 0.2em;
}

.tech-content-entry-prof--3 {
  width: 6em;
}

.tech-content-entry-prof--4 {
  width: 8em;
}

.tech-content-entry-prof--5 {
  width: 10em;
}

.tech-content-entry-prof--6 {
  width: 12em;
}

.tech-content-entry-prof--7 {
  width: 14em;
}

.tech-content-entry-prof--8 {
  width: 16em;
} */